@media (max-width:700px) {
    .totals{
        width: 100% !important;
    }
    .cart-img{
        width: 2rem !important;
    }
}
.coupon-codes{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.337);
    border-radius: 0rem 0rem 1rem 1rem;
    width: 100%;
    font-size: large;
}
.coupon-codes li{
    list-style: none;
    margin-top: 1rem;
}
.coupon-codes li:hover{
    font-weight: 400 !important
}