.navbar .active{
    padding-bottom: 0.12rem ;
    border-bottom: 0.15rem solid tomato ;
}
.logo{
    color: tomato;
}
.navbar-search-icon .dot{
    position: absolute;
    min-width: 0.65rem;
    min-height: 0.65rem;
    background-color: tomato;
    top:-0.5rem;
    right: -0.5rem;
    border-radius: 50%;
}.navbar{
    color: aliceblue !important;
}
@media (max-width:1050px) {
    .navbar h1{
        width: 9rem;
    }
    .navbar-menu{
        gap: 1.2rem;
        font-size: 0.6rem !important;
    }
    .navbar-right img{
        width: 1.3rem;
    }
    .navbar-right-button{
        padding: 0.5rem 1.5rem;
    }
}
@media (max-width:900px) {
    .navbar{
        height: 6rem !important;    
    }
    .navbar .h4{
        font-size: 1.2rem;
        color: tomato !important;
    }
    .navbar-menu{
        gap: 1rem !important;
        font-size: 0.75rem !important;
    }
    .navbar-right img{
        width: 1.1rem !important;
    }
    .navbar-right-button{
        width: 5rem !important;
        padding: 0.25rem 1.25rem !important;
    }
}

@media (max-width:700px) {
    .navbar{
        background-color: white !important;
    }
    .navbar .span,.navbar-menu, .basket ,.search{
        color: #49557e !important;
    }

}